* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family:"Enriqueta-Medium";
  }
  @font-face {
    font-family:"AbhayaLibre-ExtraBold";
    src: url(./fonts/AbhayaLibre-ExtraBold.ttf);
    font-family:"AbhayaLibre-Regular";
    src: url(./fonts/AbhayaLibre-Regular.ttf);
    font-family:"Enriqueta-Medium";
    src: url(./fonts/Enriqueta-Medium.ttf);
  }
  
  body {
    background-color:#1d1d1d;
    color:rgb(49, 49, 49);
    font-size: 20px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
  
  .story-wrap{
    display: grid;
    grid-template-rows: 5vh 85vh 5vh;
    grid-template-areas:
      "head-wrap"
      "body-wrap"
      "footer";
  }
  .head-wrap{
    grid-area:head-wrap;
    text-align: center;
    background-color:grey;
  }
  .head-wrap > .banner{
    width: 100%;
    height:100%;
    object-fit:cover;
  }
  .body-wrap{
    display: grid;
    grid-area:body-wrap;
    grid-template-columns: 10% 80% 5%;
    grid-template-areas:
      "left-sidebar content-middle right-sidebar";
  }
  .content-middle{
    display: grid;
    grid-area: content-middle;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "content-left content-right";
    padding-bottom:20px;
    background-color: #660000;
    border-radius: 3px;
  }
  .content-left{
    grid-area: content-left;
    background-image: url(./images/bookpleft.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-right{
    grid-area: content-right;
    background-image: url(./images/bookpright.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .portfolio{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100% 0%;
    grid-template-areas: 
      "top-picture" 
      "bottom-picture";
  }
  .top-picture{
    grid-area: top-picture;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "tl t tr" 
      "l c r"
      "bl b br";
    justify-content: center;
  }
  .bottom-picture{
    grid-area: bottom-picture;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: .5fr 4fr 1.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "tl t tr" 
      "l c r"
      "bl b br";
  }
  .caption{
    grid-area: b;
    text-align: center;
    margin-top: 5px;
    font-family: "Enriqueta-Medium";
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #7a0000;
  }
  .caption:hover{
    color:#4e0000;
    cursor: pointer;
  }
  .icon{
    grid-area: c;
    aspect-ratio: 1;
    height:100%;
    background-color: #420000;
    margin-left: auto;
    margin-right: auto;
    border: #1d1d1d;
    border-width: 5px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
  }
  .one{
    background-image: url(./images/sunset.png);
    background-size: cover;
  }
  .two{
    background-image: url(./images/dome.png);
    background-size: cover;
  }
  .three{
    background-image: url(./images/face.png);
    background-size: cover;
  }
  .four{
    background-image: url(./images/city.png);
    background-size: cover;
  }
  .header{
    margin-top:35%;
    text-align:center;
    font-size: 45px;
    font-weight:bold;
    padding-bottom: 3px;
    font-family: "AbhayaLibre-ExtraBold";
  }
  .upper{
    margin-top:5%;
  }
  .topic{
    font-weight:bold;
    font-size:25px;
    font-family: "Enriqueta-Medium";
  }
  .paragraph{
    font-weight: normal;
    font-size: 16px;
    margin-left: 6%;
    margin-right: 20px;
    margin-top: 5%;
    text-align: left;
    text-indent: 10%;
    line-height: 1.5;
  }
  .cardlesstext{
    width: 100%;
    height: 100%;
  }
  .subheader{
    text-align: center;
    width: 100%;
  }
  .contact{
    margin-top: 25%;
    margin-bottom: 10px;
    font-family: "Enriqueta-Medium";
  }
  .socials{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    margin-top: 20px;
  }
  .pic{
    object-fit: cover;
    width:40%;
    margin: auto;
    margin-top: 10px;
  }
  .pic:hover{
    object-fit: cover;
    width:45%;
    margin: auto;
    cursor: pointer;
  }
  .left-sidebar{
    grid-area: left-sidebar;
    background-color:#1d1d1d;
    z-index: 0;
  }
  .right-sidebar{
    grid-area: right-sidebar;
    background-color:#1d1d1d;
    z-index: 0;
  }
  .travel{
    position:absolute;
    left: 90%;
    width:11%;
    height:40px;
    text-align:right;
    background-color:#7a0000;
    padding-top:6px;
    padding-bottom: 10px;
    padding-right: 10px;
    color:#f5f7be;
    transform: translate(-40%);
    border-radius: 0 15px 15px 0;
    font-family: "Enriqueta-Medium";
    z-index: -1;
  }
  .travel1{
    top:10%;
  }
  .travel2{
    top:20%;
  }
  .travel3{
    top:30%;
  }
  #clicked{
    transform: translate(-25%);
    background-color:#420000;
  }
  .travel a{
    display: block
  }
  .travel:hover{
    background-color:#5b0000;
    cursor:pointer;
  }
  .click{
    width:100px;
    height:30px;
    text-align:center;
    background-color:#c33c42;
    border-style:solid;
    border-width:2px;
    border-color:#1d1d1d;
    margin-left:600px;
    padding-bottom:35px;
  }
  .click:hover{
    background-color:#742427
  }
  .click a {
    display: block
  }
  p{
    margin:10px;
    line-height: 1.5;
  }
  .footer{
    grid-area: footer;
    background-color:#1d1d1d;
    z-index: -3;
    position: relative;
  }
  p{
      margin-left: 50px;
  }