* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  body {
    background-color:#1d1d1d;
    color:black;
    font-size: 20px;
    height: 100vh;
    width:100vw;
    overflow: hidden;
    animation: fadeInPicture ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .welcome {
    width: 100%;
    height:100%;
    object-fit:cover;
  }

  .text{
    position: fixed;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(143, 0, 0);
    font-family: "ltr-beowolf-r23", serif;
    font-weight: 400;
    font-style: italic;
  }

  @keyframes fadeInPicture {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .book{
    position: fixed;
    top: 53%;
    left: 45%;
    height: 10vh;
    width: 8vw;
    cursor: pointer;
  }
  